@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TEDxJU - 2024</title>
    <link rel="icon" href="images\favicon\favicon.ico" type="image/gif" sizes="16x16" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta property="og:title" content="TEDxJU-2024" />
    <meta property="og:description"
          content="TEDxJU is an independently organized TEDx event with the goal of catering the global experience of TED to our community at JU" />
    <meta property="og:image" content="images/meta/TEDxJU_metaimg.png" />
    <meta name="robots" content="follow, index" />
    <meta content="TEDxJU,TEDxJU-2024" name="keywords" />
    <meta content="TEDxJU" name="author" />
    <!-- CSS Files
      ================================================== -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap" />
    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb" />
    <link href="css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/coloring.css" rel="stylesheet" type="text/css" />
    <!-- color scheme --> 
    <link id="colors" href="css/colors/blue-teal.css" rel="stylesheet" type="text/css" />

    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="dark-scheme">
    <div id="wrapper">
        <div class="scrollbar"></div>
        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->
        <!-- header begin -->
        <header class="transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="">
                                            <img class="logo-main" style="height: 90px;" src="images/logo/logo.png" alt="" />
                                            <img class="logo-mobile" style="width: 100px;" src="images/logo/logo.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                        <a class="menu-item" href="">Home</a>
                                        <ul>
                                            <li>
                                                <a class="menu-item" href="">TEDxJU 2024</a>
                                            </li>
                                            <li>
                                                <a class="menu-item" href="">TEDxJU 2022 ( Not available )</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#section-about">About</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#section-experts">Speakers</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#talks-new">Highlights</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#section-gallery">Gallery</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#section-location">Getting There</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="" class="btn-line">Buy Ticket</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <!-- float text begin -->
            <div class="float-text" style="background-size: 100%;background-repeat: no-repeat;">
                <div class="de_social-icons" style="background-size: 100%; background-repeat: no-repeat;">
                    <a href="https://www.instagram.com/tedxju/" target="_blank" style="font-size: x-large;"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/tedx-ju/" target="_blank" style="font-size: x-large;">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <!--
                    <a href="https://www.flickr.com/photos/165706544@N05/" target="_blank" style="font-size: x-large;"><i class="fa-brands fa-flickr"></i></a>-->
                </div>
                <span>
                    <a href="" style="font-size: large;">Get Ticket</a>
                </span>
            </div>
            <!-- float text close -->

            <div id="top"></div>
            <section id="section-hero" class="jarallax">
                <img src="images/background/1.jpg" class="jarallax-img hero-bg" alt="" />
                <img src="images/background/team.jpg" class="jarallax-img hero-bg" alt="" style="object-fit: cover;object-position: 50% 50%;max-width: none;position: absolute;top: 0px;left: 0px;width: 1253.6px;height: 760.25px;overflow: hidden;pointer-events: none;transform-style: preserve-3d;backface-visibility: hidden;will-change: transform, opacity;margin-top: -26.125px;transform: translate3d(0px, 26.125px, 0px);width: -webkit-fill-available;opacity: 0.13;">                <div class="container position-relative z1000 wow fadeInDown">
                    <div class="row align-items-center position-relative">
                        <div class="spacer-double d-lg-none d-sm-block"></div>
                        <div class="col-lg-12 z1000">
                            <div class="spacer-double"></div>
                            <h5 class="mb-4 s2">
                                <span class="hero-date wow fadeInRight" data-wow-delay=".2s">
                                    <i class="id-color fa fa-calendar-o"></i>19th OCT 2024
                                </span><span class="wow fadeInRight"
                                             data-wow-delay=".2s">
                                    <i class="id-color fa fa-map-marker"></i>Hassan bin Talal Stadium
                                </span>
                            </h5>
                            <h1 class="ultra-big text-uppercase mb-4 wow fadeInRight">
                                <span class="wow fadeInLeft" data-wow-delay=".4s">
                                    An
                                </span>
                                <span class="text-line">Independently</span>
                                <span class="text-gradient">Organized</span>
                                <span class="text-line wow fadeInRight" data-wow-delay=".4s">
                                    TED<span class="text-lowercase"
                                             style="">x</span>
                                </span>Event
                            </h1>
                        </div>
                        <!--<div class="col-lg-4 sm-hide">
                                        <img src="images/misc/car-blue.png" class="sm-img-fluid position-absolute top-0 end-0 anim-up-down wow fadeInDown" alt="">
                                    </div>-->
                        <div class="clearfix"></div>
                        <div class="col-lg-1 col-2">
                            <img src="images/misc/ripple-1.png" class="img-fluid wow fadeInLeft hero-abs moving-vertical" alt="" />
                        </div>
                        <div class="col-lg-5 col-10">
                            <div class="position-relative">
                                <p class="lead no-bottom wow fadeInLeft">
                                    “<span style="
                                                font-weight: 600;
                                                text-transform: uppercase;
                                                color: #eb0028;
                                            ">Mission X</span>
                                    - At TEDxJU, our speakers will share their journeys and how they’ve tackled their own X. Join us to find your mission in solving the X.”
                                </p>
                            </div>
                        </div>

                        <div class="spacer-single d-lg-none d-sm-block"></div>

                        <div class="col-lg-3">
                            <a class="btn-main big wow fadeInLeft" href="">Get Ticket</a>
                        </div>
                    </div>
                </div>
                <div class="de-gradient-edge-bottom"></div>
            </section>

            <section aria-label="section" class="no-top no-bottom">
                <div class="wow fadeInRight d-flex">
                    <div class="de-marquee-list wow">
                        <div class="d-item">
                            <span class="d-item-txt">TED<span class="text-lowercase">x</span>JU</span>
                            <span class="d-item-display">
                                <i class="d-item-block"></i>
                            </span>
                            <span class="d-item-txt">2024</span>
                            <span class="d-item-display">
                                <i class="d-item-block"></i>
                            </span>
                            <span class="d-item-txt">Mission X - Find your mission in solving the X</span>
                            <span class="d-item-display">
                                <i class="d-item-block"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </section>

            <!-- about section  -->
            <style>
                /* To avoid merge conflicts, added the css here */

                .about-subtext {
                    color: #ffffff;
                    text-align: justify;
                    line-height: 1.6;
                    min-height: 390px;
                }

                .img-container {
                    margin-top: -3rem;
                    margin-bottom: -2rem;
                    z-index: -1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .img-container img {
                        width: 100%;
                    }
            </style>
            <section id="section-about" aria-label="section" class="no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12" data-jarallax-element="-50">
                            <p class="lead big wow fadeInUp">
                                Welcome to TEDxJU, where passionate minds
                                share ideas worth spreading. We're a
                                student-organized event at The University Of Jordan bringing together
                                innovators and inspiring speakers from our Jordanian & Arab community.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section style="background-size: 100%; background-repeat: no-repeat;">
                <div class="container" style="background-size: 100%; background-repeat: no-repeat;">
                    <div class="row" style="background-size: 100%; background-repeat: no-repeat;">
                        <div class="col-lg-12 text-center" style="background-size: 100%; background-repeat: no-repeat;">
                            <h2 class="text-uppercase wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">ABOUT</h2>
                            <div class="spacer-20" style="background-size: 100%; background-repeat: no-repeat;"></div>
                        </div>

                        <div class="col-lg-4 my-5 my-lg-0" data-jarallax-element="20" id="about-card-1" style="position: relative; z-index: 0; background-size: 100%; background-repeat: no-repeat; transform: translate3d(0px, 3.91878px, 0px);">
                            <div class="de-pricing-s1" style="background-size: 100%; background-repeat: no-repeat;">
                                <div class="d-content" style="background-size: 100%; background-repeat: no-repeat;">
                                    <!-- <h3>TED EVENTS</h3> -->
                                    <div class="img-container" style="background-size: 100%; background-repeat: no-repeat;">
                                        <img src="https://tedxajce.in/tedx2023/assets/images/brand/1.png" alt="">
                                    </div>
                                    <p class="about-subtext">
                                        “By spreading ideas worthy enough to be shared, the power
                                        of inspiration and change is created”. A global community
                                        striving towards spreading ideas from every discipline and
                                        culture, that is TED in a nutshell. It is a non-profit
                                        media organisation that helps people get the deeper
                                        meaning of ideas, attitudes, and the world itself. From
                                        its origin in 1984, TED talks have touched people’s
                                        hearts. It is continued to be watched all around the
                                        world. The impact a TED event creates is unmatched. TED
                                        conferences and events inspire and motivate people towards
                                        becoming a better version of themselves
                                    </p>
                                    <div class="spacer-20" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                    <div class="text-center" style="background-size: 100%; background-repeat: no-repeat;">
                                        <a class="btn-main bg-color" href="https://www.ted.com/" target="_blank">READ MORE</a>
                                    </div>
                                </div>
                                <div class="d-deco-top" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                <div class="d-deco-bottom" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                <img src="images/misc/ripple-1.png" class="pricing-deco" alt="">
                            </div>
                            <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: 100%; background-repeat: no-repeat;"><div style="pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; position: absolute; background-size: 100%; background-repeat: no-repeat;"></div></div>
                        </div>

                        <div class="col-lg-4 my-5 my-lg-0" data-jarallax-element="20" id="about-card-2" style="position: relative; z-index: 0; background-size: 100%; background-repeat: no-repeat; transform: translate3d(0px, 3.91878px, 0px);">
                            <div class="de-pricing-s1" style="background-size: 100%; background-repeat: no-repeat;">
                                <div class="d-content" style="background-size: 100%; background-repeat: no-repeat;">
                                    <!-- <h3>TED<span>x</span> Events</h3> -->
                                    <div class="img-container" style="background-size: 100%; background-repeat: no-repeat;">
                                        <img src="./images/logos/tedx.png" alt="">
                                    </div>

                                    <p class="about-subtext">
                                        TEDx events are independently organized, and licensed
                                        TED-like events organized by enthusiastic communities and
                                        organizers in line with TED’s mission ‘ideas worth
                                        spreading’. Its goal is to create a unique gathering in
                                        the community that will unleash new ideas, inspire, and
                                        inform. It provides a platform where ideas are shared
                                        openly, and connections are made through conversation. The
                                        event screens TED Talks videos and invites live speakers
                                        to drive ideation and start conversations. TEDx has
                                        reached a milestone of 100,000 talks and are now viewed
                                        more than 3 billion times annually.
                                    </p>
                                    <div class="spacer-20" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                    <div class="text-center" style="background-size: 100%; background-repeat: no-repeat;">
                                        <a class="btn-main bg-color" href="https://www.ted.com/about/programs-initiatives/tedx-program" target="_blank">READ MORE</a>
                                    </div>
                                </div>
                                <div class="d-deco-top" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                <div class="d-deco-bottom" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                <img src="images/misc/ripple-1.png" class="pricing-deco" alt="">
                            </div>
                            <div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: 100%; background-repeat: no-repeat;"><div style="pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; position: absolute; background-size: 100%; background-repeat: no-repeat;"></div></div>
                        </div>

                        <div class="col-lg-4 my-5 my-lg-0" data-jarallax-element="20" id="about-card-3" style="position: relative; z-index: 0; background-size: 100%; background-repeat: no-repeat; transform: translate3d(0px, 3.91878px, 0px);">
                            <div class="de-pricing-s1" style="background-size: 100%; background-repeat: no-repeat;">
                                <div class="d-content" style="background-size: 100%; background-repeat: no-repeat;">
                                    <!-- <h3>TED<span>X</span> JU</h3> -->
                                    <div class="img-container" style="background-size: 100%; background-repeat: no-repeat;">
                                        <img src="/images/logo/logo.png" alt="" style="
    margin-bottom: 85px;
    margin-top: 83px;
">
                                    </div>

                                    <p class="about-subtext" style="
    margin-top: 30px;
" >
                                        In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized (subject to certain rules and regulations).
                                    </p>
                                    <div class="spacer-20" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                    <div class="text-center" style="background-size: 100%; background-repeat: no-repeat;">
                                        <a class="btn-main bg-color" href="https://www.ted.com/tedx/events/56517" target="_blank">
                                            READ
                                            MORE
                                        </a>
                                    </div>
                                </div>
                                <div class="d-deco-top" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                <div class="d-deco-bottom" style="background-size: 100%; background-repeat: no-repeat;"></div>
                                <img src="images/misc/ripple-1.png" class="pricing-deco" alt="">
                            </div>
                            <div id="jarallax-container-3" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: 100%; background-repeat: no-repeat;"><div style="pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; position: absolute; background-size: 100%; background-repeat: no-repeat;"></div></div>
                        </div>
                    </div>
                </div>
            </section>            <!-- end of about section  -->

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <h1 class="text-uppercase">
                                <span class="wow fadeInUp">OUR</span>
                                <span class="text-gradient wow fadeInUp" data-wow-delay="
                                .3s">THEME</span>
                            </h1>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-6 position-relative">
                            <div class="images-deco-1">
                                <img src="images/misc/theme-logo.png" class="d-img-1" alt="" />
                                <img src="images/misc/dotted.png" class="d-img-2 moving-dots" alt="" data-jarallax-element="40" />
                                <!-- <div class="d-img-3 bg-color"></div> -->
                            </div>
                        </div>
                        <div class="col-lg-6 position-relative" data-jarallax-element="-60">
                            <div class="position-relative z1000">
                                <h2 class="text-uppercase wow fadeInRight" data-wow-delay=".3s">
                                    <span class="text-line">
                                        MISSION X -
                                    </span>
                                    FIND YOUR MISSION IN SOLVING THE X
                                </h2>
                                <div class="row">
                                    <div class="col-lg-2 col-2">
                                        <img src="images/misc/ripple-1.png" class="img-fluid moving-vertical" style="
                                                    min-height: 100px;
                                                    min-width: 250px;
                                                " data-jarallax-element="30" />
                                    </div>
                                    <div class="col-lg-10 col-10">
                                        <p class="wow fadeInRight" data-wow-delay=".4s">
                                            "Why does X represent the unknown? It’s endless and full of possibilities, just like life. X has deep roots in our Arab history and is always linked to the question “why.” At TEDxJU, our speakers will share their journeys and how they’ve tackled their own X, inspiring you to find answers to your own questions. Join us to find your mission in solving the X."
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="images/misc/circle-gradient.png" class="position-absolute top-50 start-50 translate-middle"
                                 alt="" />
                        </div>
                    </div>
                </div>
            </section>

            <section class="no-top">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-6 mb-sm-30 position-relative">
                            <div class="de_count position-absolute top-50 start-50 translate-middle text-light wow fadeInUp">
                                <h3 class="timer text-light" data-to="8" data-speed="1000">
                                    0
                                </h3>

                                <h4 class="text-uppercase" style="font-size: 25px">
                                    Speakers
                                </h4>
                            </div>
                            <img src="images/misc/circle-gradient.png" class="img-fluid" alt="" />
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30 position-relative" data-jarallax-element="-50">
                            <div class="de_count position-absolute top-50 start-50 translate-middle text-light wow fadeInUp">
                                <div style="
                                            display: flex;
                                            align-items: center;
                                        ">
                                    <h3 class="timer text-line" data-to="300" data-speed="1500">
                                        0
                                    </h3>
                                    <h3 class="text-line" style="
                                                font-size: 70px;
                                                padding-left: 10px;
                                            ">
                                        +
                                    </h3>
                                </div>
                                <h4 class="text-uppercase" style="font-size: 25px">
                                    Attendees
                                </h4>
                            </div>
                            <img src="images/misc/circle-gradient-2.png" class="img-fluid" alt="" />
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30 position-relative">
                            <div class="de_count position-absolute top-50 start-50 translate-middle text-light wow fadeInUp">
                                <h3 class="timer text-light" data-to="8" data-speed="1000">
                                    0
                                </h3>
                                <h4 class="text-uppercase" style="font-size: 25px">
                                    Talks
                                </h4>
                            </div>
                            <img src="images/misc/circle-gradient.png" class="img-fluid" alt="" />
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30 position-relative" data-jarallax-element="-50">
                            <div class="de_count position-absolute top-50 start-50 translate-middle text-light wow fadeInUp">
                                <h3 class="timer text-line" data-to="1" data-speed="1000">
                                    0
                                </h3>
                                <h4 class="text-uppercase" style="font-size: 25px">
                                    Performance
                                </h4>
                            </div>
                            <img src="images/misc/circle-gradient-2.png" class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </section>

            
            <!--previous hignlight-->
            <!--bava-kurian-->
            <style>
                .about-video {
                    transition: 0.5s ease;
                }

                    .about-video:hover {
                        opacity: 0.7;
                    }

                .content-title {
                    margin-top: 100px;
                }
            </style>

            <section id="section-tickets" style="overflow: hidden;">
                <div class="container position-relative">
                    <img src="images/misc/ripple-1.png" class="img-fluid moving-vertical2" style="
          min-height: 100px;
          min-width: 100px;" />
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <h2 class="text-uppercase wow fadeInUp">
                                Get <span class="text-line">your</span><br /><span class="text-gradient">Tickets</span>
                            </h2>
                            <div class="spacer-20"></div>
                        </div>
                        <div class="col-lg-4" data-jarallax-element="-40">
                            <div class="de-pricing-s1">
                                <div class="d-content">
                                    <h3>Full Access Ticket</h3>
                                    <div class="d-price">5 JOD</div>
                                    <ul class="d-list">
                                        <li>Access to all talks</li>
                                        <li>
                                            Chance to interact with our
                                            distinguished speakers
                                        </li>
                                        <li>
                                            Lunch and Refreshments
                                        </li>
                                        <li>Gift Packages</li>
                                    </ul>
                                    <div class="spacer-20"></div>
                                    <div class="text-center">
                                        <a class="btn-main" href="" target="_blank">
                                            Buy
                                            Ticket
                                        </a>
                                    </div>
                                </div>
                                <div class="d-deco-top"></div>
                                <div class="d-deco-bottom"></div>
                                <img src="images/misc/ripple-1.png" class="pricing-deco" alt="" />
                            </div>
                        </div>
                    </div>
                    <!-- <img src="images/misc/ripple-1.png" class="img-fluid moving-vertical1" style="
                      min-height: 100px;
                      min-width: 100px;" /> -->

                </div>
            </section>

            

            

            <!-- gallery  -->
            <section id="section-gallery" class="jarallax">
                <img src="images/background/2-flip.jpg" class="jarallax-img moving-dots" alt="" />
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="text-uppercase wow fadeInUp">
                                Our
                                <span class="text-gradient">Gallery</span>
                            </h2>
                            <p class="lead big wow fadeInUp" id="gallery-description">
                                Relive the best moments from our gallery.
                            </p>
                        </div>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div id="carouselExampleIndicators" class="carousel slide carousel-fade wow fadeInUp"
                                 data-mdb-ride="carousel">
                                <!-- Slides -->
                                <div class="carousel-inner mb-5">
                                    <div class="carousel-item active">
                                        <img src="~/images/gallary/2.jpg"
                                             class="d-block w-100" alt="gallery image 1" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/images/gallary/1.jpg"
                                             class="d-block w-100" alt="gallery image 2" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/images/gallary/5.jpg"
                                             class="d-block w-100" alt="gallery image 3" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/images/gallary/3.jpg"
                                             class="d-block w-100" alt="gallery image 4" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/images/gallary/4.jpg"
                                             class="d-block w-100" alt="gallery image 5" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/images/gallary/6.jpg"
                                             class="d-block w-100" alt="gallery image 6" />
                                    </div>
                                   
                                </div>
                                <!-- Slides -->
                                <!-- Controls -->
                                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <!-- Controls -->
                                <!-- Thumbnails -->
                                <div class="carousel-indicators" style="margin-bottom: -20px">
                                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1" style="width: 100px">
                                        <img class="d-block w-100 img-fluid"
                                             src="~/images/gallary/2.jpg"
                                             alt="" />
                                    </button>
                                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                                            aria-label="Slide 2" style="width: 100px">
                                        <img class="d-block w-100 img-fluid"
                                             src="~/images/gallary/1.jpg"
                                             alt="" />
                                    </button>
                                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                                            aria-label="Slide 3" style="width: 100px">
                                        <img class="d-block w-100 img-fluid"
                                             src="~/images/gallary/5.jpg"
                                             alt="" />
                                    </button>
                                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3"
                                            aria-label="Slide 4" style="width: 100px">
                                        <img class="d-block w-100 img-fluid"
                                             src="~/images/gallary/3.jpg"
                                             alt="" />
                                    </button>
                                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="4"
                                            aria-label="Slide 5" style="width: 100px">
                                        <img class="d-block w-100 img-fluid"
                                             src="~/images/gallary/4.jpg"
                                             alt="" />
                                    </button>
                                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="5"
                                            aria-label="Slide 6" style="width: 100px">
                                        <img class="d-block w-100 img-fluid"
                                             src="~/images/gallary/6.jpg"
                                             alt="" />
                                    </button>
                                    
                                </div>
                                <!-- Thumbnails -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end of gallery - -->
            <!-- <section class="pt60 no-bottom">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h2 class="text-uppercase wow fadeInUp">
                        <span class="text-line">Our</span>
                        <span class="text-gradient">Sponsors</span>
                      </h2>
                    </div>
                    <div class="spacer-single"></div>
                  </div>
                  <div class="row g-custom-x">
                    <div class="col-lg-2 col-md-4 col-6 mb-sm-30">
                      <img
                        src="images/sponsors/logo-1.png"
                        class="img-deco-1 img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mb-sm-30">
                      <img
                        src="images/sponsors/logo-2.png"
                        class="img-deco-1 img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mb-sm-30">
                      <img
                        src="images/sponsors/logo-3.png"
                        class="img-deco-1 img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mb-sm-30">
                      <img
                        src="images/sponsors/logo-4.png"
                        class="img-deco-1 img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mb-sm-30">
                      <img
                        src="images/sponsors/logo-5.png"
                        class="img-deco-1 img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mb-sm-30">
                      <img
                        src="images/sponsors/logo-6.png"
                        class="img-deco-1 img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </section> -->

            <section id="section-location">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="text-uppercase wow fadeInUp">
                                Getting
                                <span class="text-gradient">There</span>
                            </h2>
                        </div>
                        <div class="spacer-single"></div>

                        <div class="col-lg-12">
                            <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=+(University%20of%20jordan)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps trackers</a></iframe></div>
                        </div>


                        <div class="col-lg-4 col-md-4 text-center">
                            <p class="lead no-bottom">Location</p>
                            <h4 class="s2">
                                Hassan bin Talal Stadium <br />
                                Amman, Jordan
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center">
                            <p class="lead no-bottom">Phone</p>
                            <h4 class="s2">+962 785375372</h4>
                            <h5 class="s2">Main Organizer - Mr. Ibraheem Swaidan</h5>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center">
                            <p class="lead no-bottom">Email</p>
                            <h4 class="s2">Not Available Now</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <a href="" id="back-to-top"></a>
        <!-- ` begin -->
        <footer>
            <div class="container">
                <div class="row g-4 text-center">
                    <div class="col-lg-4 text-lg-start">
                        <div class="social-icons">
                            <a href="https://www.instagram.com/tedxju/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-ju/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                           <!-- <a href="https://www.flickr.com/photos/" target="_blank">
                                <i class="fa-brands fa-flickr"></i>
                             </a>-->
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-center mb-4 mt-lg-0">
                        <img src="images/logo/logo.png" class="" alt="" style="
    width: -webkit-fill-available;
">
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        Copyright 2024 -TEDxJU
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
      ================================================== -->
    <script src="/js/plugins.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/designesia.js"></script>
    <script src="/js/custom-marquee.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="js/"></script>
</body>

</html>